footer{
    background-color: $background-main;
    font-family: $font-secundario;
    font-size: $font-size;
    @include flex (row, wrap, space-evenly, none);
    div h2{
        @include flex (row, wrap, center, none);
        padding-top: 0.5rem;
        text-decoration: underline;
        padding-bottom: 1rem;
        font-family: $font-secundario;
    }
    ul li{
        display:inline-block;
        padding-bottom: 0.5rem;
        a{
            text-decoration: none;
            list-style: none;
        }
    }
}