.main-servicios h1{
    font-family: $font-principal;
    color: $color-principal;
    text-align: center;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 2.7rem;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    width: 95%;
    margin: 0.9rem auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}
.section img{
    width: 10rem;
    border-radius: 20px;
    border: solid 1px red;
}
.section h2{
    font-family: $font-principal;
    margin: 1rem;
    color: $color-principal;
    padding-top: 3rem;
    font-size: 2.2rem;
}
.section p{
    font-family: $font-secundario;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}