@media (max-width:1366px){
    /**Index**/
    .main-ppal{
        height: 75vh;
    }

    /**Sobre Mí**/
    .certificaciones{
        font-size: 2rem;
        margin: 0.5rem auto;
        text-align: center;

    }
    .list-certif{
        margin-bottom: 0.5rem;
        text-decoration: none;
    }
}