@media(max-width:320px) {

    /**Index**/
    header nav .logo {
        width: 12rem;
        height: 4rem;
    }

    nav label img {
        height: 1.2rem;
    }

    .main-ppal {
        font-size: 1.4rem;
        height: 70vh;
    }

    /**Sobre Mí**/
    .seccion-sobremi {
        .wrapper {
            img {
                width: 5rem;
                height: 6.5rem;
                padding: 0;
            }
        }

        .wrapper .sobremi-ppal h1 {
            font-size: 0.9rem;
        }

        .wrapper .sobremi-ppal p {
            font-size: 0.6rem;
        }
    }

    /**Servicios**/
    .section {
        img {
            width: 6rem;
            height: 10rem;
            align-self: center;
        }
    }

    /**Recetas**/
    .card1 {
        width: 8rem;
        height: 12rem;
    }

    /**Más Info**/
    .mas-info {
        height: 100vh;

        div .info-body {
            font-size: 0.65rem;
        }
    }

    /**Preparaciones**/
    .main-preparaciones {
        h1 {
            font-size: 1.5rem;
        }
    }

    .seccion-prep {
        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.7rem;
        }

        ul,
        ol {
            font-size: 0.6rem;
        }
    }

    .menu-secundario {
        a {
            font-size: 0.6rem;
        }
    }

    .contacts-prep {
        font-size: 0.9rem;
    }

    .contacts-preparaciones {
        font-size: 0.8rem;
    }
}